@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e2e8f0;
}

ul {
  list-style-type: none;
}

.container-full {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container-full > div {
  padding: 20px;
}

.header {
  display: grid;
  grid-column: 2 / 5;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}

/* .header > div {
  display: grid;
} */

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1 / 4;
  font-weight: bold;
}

.projects {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.cards {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.feed {
  grid-row: 2 / 4;
}

.trending {
  background-color: purple;
}

.announcements {
  background-color: yellow;
}